body { 
    background: #0f172a; 
    color: #f8fafc;
    font-family: system-ui, sans-serif; 
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

.card {
    background: #1e293b;
    padding: 2rem; 
    border-radius: 12px; 
    width: 100%; 
    max-width: 350px;
    border: 1px solid #334155;
 }
.form-group { 
    margin-bottom: 1rem; 
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
}
input {
    background: #0f172a; 
    border: 1px solid #334155; 
    color: #fff;
    padding: 0.75rem;
    border-radius: 6px;
}
button {
    background: #6366f1;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 6px; 
    cursor: pointer;
    font-weight: bold;
    width: 100%; 
    margin-top: 1rem; 
}
button:hover { 
    background: #4f46e5; 
}
.error {
    color: #ef4444;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}
p{
    color: #94a3b8; 
    font-size: 0.85rem; 
    margin-bottom: 1rem;
}